* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #eaeaea;
	background-color: #111111;
}
body {
	font-size: 16px;
	overflow-x: hidden;
	position: relative !important;
	top: 0 !important;
}
::-webkit-scrollbar {
	width: 0.625em;
}
::-webkit-scrollbar-track {
	background-color: #111111;
}
::-webkit-scrollbar-thumb {
	background-color: #ffffff40;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #ffffff30;
}
::-webkit-scrollbar-thumb:active {
	background-color: #ffffff20;
}
/* ::-moz-selection {
	color: black;
	background: white;
}
::selection {
	color: black;
	background: white;
} */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
h1 {
	width: 100%;
	text-align: center;
}
a {
	all: unset;
	color: #eaeaea;
	cursor: pointer;
	text-decoration: underline;
	font-weight: bold;
}
.container {
	padding: 1.25em 0;
	width: 100%;
	max-width: 32.5em;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.container > div {
	width: 92%;
	margin: 0.625em auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
#title {
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	user-select: none;
}
#title:focus,
#title:active {
	color: #eaeaea80;
}
#description {
	font-size: 0.75em;
	padding: 0em 0.25em;
	text-align: justify;
	display: flex;
	flex-direction: column;
}
#description > p {
	margin-top: 0.5em;
}
#description span {
	display: block;
	margin: 0.6em 0;
}
#description span:nth-child(1) {
	margin-top: 0;
	font-size: 1.65em;
	text-align: center;
}
#description span:last-child {
	margin-bottom: 0;
}
form {
	width: 100%;
	background-color: #ffffff15;
	padding: 1em 0.875em;
	border-radius: 0.9375em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 0.9em;
}
form > div:not(:last-child) {
	margin-bottom: 0.35em;
}
form > div > div {
	/* width: 100%; */
	display: flex;
	justify-content: first baseline;
	align-items: center;
	align-content: center;
}
form > div > div:first-child {
	margin-right: 0.5em;
}
.checkbox-container {
	display: flex;
	justify-content: first baseline;
	align-items: center;
	align-content: center;
	font-size: 0.9em;
}
label {
	cursor: pointer;
}
.controls {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	white-space: nowrap;
}
.controls.collapsed {
	display: none;
}
.sub-controls {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.game-controls {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.advanced-controls {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.results-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
input[type="text"],
input[type="number"] {
	width: 100%;
	margin-right: 0.325em;
	border: none;
	font-size: 0.9em;
	border-radius: 0.3125em;
	padding: 0.5em 0.625em;
}
input[type="text"]:focus,
input[type="number"]:focus {
	outline: none;
	border: none;
}
input[type="number"] {
	width: 95.25%;
	font-size: 0.95em;
	padding: calc(0.5em*0.9/0.95) calc(0.625em*0.9/0.95);
	/* margin-right: 0.4em; */
	/* font-weight: bold; */
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
button {
	border: none;
	border-radius: 0.3125em;
	padding: 0.5em 0.625em;
	font-size: 0.9em;
	background-color: #ffffff40;
	color: #eaeaea;
	cursor: pointer;
	/* font-weight: bold; */
	white-space: nowrap;
	user-select: none;
}
button:hover {
	background-color: #ffffff30;
}
button:active {
	background-color: #ffffff20;
}
input[type="checkbox"] {
	font-size: 0.8em;
	width: 1.1em;
	height: 1.1em;
	border: none;
	border-radius: 0.3125em;
	cursor: pointer;
	margin: 0;
	margin-right: 0.25em;
}
input[type="checkbox"]:focus {
	outline: none;
	border: none;
}
select {
	/* width: 100%; */
	border: none;
	border-radius: 0.3125em;
	/* padding: 0.3125em 0.5em; */
	font-size: 0.9em;
	padding: 0.5em 0.625em;
	margin-right: 0.3125em;
}
select:focus {
	outline: none;
	border: none;
}
#debug {
	width: 100%;
	padding: 0 0.875em;
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sub-controls:has(#filter) {
	width: 60%;
}
div:has(> #filter) {
	margin-right: 0.375em;
}
#reviews-container {
	/* width: 100%; */
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.review {
	width: 100%;
	background-color: #ffffff15;
	padding: 0.75em 0.875em;
	border-radius: 0.9375em;
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.5em;
}
.review > div {
	width: 100%;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.review > div > div {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.review > div:nth-child(1) {
	margin-bottom: 0.5em;
}
.review .username {
	all: unset;
	font-weight: bold;
	text-decoration: underline;
}
.review .username:hover,
.review .username:focus {
	color: #eaeaea55;
	cursor: pointer;
	/* text-decoration: underline; */
}
.review .date {
	color: #eaeaea55;
	font-weight: bold;
}
.review .recommended {
	all: unset;
	margin-left: 0.5em;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	cursor: pointer;
}
.review .text {
	/* Wrap if needed, but don't break words */
	white-space: wrap;
	overflow-wrap: break-word;
	display: flex;
	flex-direction: column;
	justify-content: first baseline;
	align-items: first baseline;
	align-content: first baseline;
	text-align: left;
	width: 100%;
}
.review .recommended.positive {
	background-color: #00ff00;
}
.review .recommended.negative {
	background-color: #ff0000;
}
.review .recommended:hover,
.review .recommended:focus {
	background-color: #ffffff70;
}
p {
	all: unset;
	margin: 0;
	padding: 0;
}
#tooltip {
	position: absolute;
	/* background-color: #575757; */
	background-color: #000000cc;
	width: 20em;
	padding: 0.5em 0.625em;
	border-radius: 0.3125em;
	font-size: 0.75em;
	z-index: 999;
	pointer-events: none;
}
/* Google translate options (to hide google translate elements on the page) */
#google_translate_button,
.skiptranslate {
	/* Hide the google translate pages */
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
.translate {
	font-style: italic;
}
.translate::before {
	content: "TRANSLATED";
	width: 100%;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	display: block;
	background-color: #ffffff15;
	padding: 0.25em 0.125em;
	border-radius: 0.3125em;
	margin-bottom: 0.5em;
}
@media screen and (max-width: 1100px) {
	body {
		font-size: 35px;
	}
}